body{
    color: #40514E;
    background-color: #FFFFFF;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    max-width:100%;
}
p{
    line-height: 2;
}
.Middle-container{
    margin-top: 100px;
    margin-bottom: 100px;
}
.Bottom-container{
    margin: 100px 0px 100px 0px;
}
h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    /*100%=16px=1em*/
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.Top{
    background-color: #E4F9F6;
    position: relative;
    padding-top: 100px;

}
.bottom{
    background-color: #66BFBF;
    margin-top: 5rem;
    padding-bottom: 1rem;
    padding-top: 3rem;
}
.mountain-img{
margin-top: 10%;
width: 100%;
box-sizing: border-box;
}
.profile-pic{
    border-radius: 500px;
    height: 200px;
}
.profile-text{
    text-align: center;
    float:none;margin:auto;
}
.skill-row{
    margin: 100px auto 100px auto;
    width: 90%;
    text-align: left;
}
.skill-set1{
    border-radius: 50%;
    min-width: 25%;
    min-height: 25%;
    max-height: 25%;
    max-width: 25%;
    float: left;
    margin-right: 30px;
}
.skill-set2{
    border-radius: 50%;
    min-width: 25%;
    min-height: 25%;
    max-height: 25%;
    max-width: 25%;
    float: right;
    margin-left: 30px;
}
.skills{
    padding-bottom: 10%;
}
.skill-set-text-1{
    margin-top: 20%;
    text-align: left;
}
.skill-set-text-2{
    margin-top: 20%;
    text-align: right;
}
.top-cloud{
    position: absolute;
    right: 10%;
    top:5%;
}
.bottom-cloud{
    position: absolute;
    margin: 10% 0 0 10%;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 1% 1.5% 1% 1.5%;
    text-decoration: none;
  }
  
  .btn:hover {
    background:  #30e3cb;
    background-image: -webkit-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom,  #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  hr{
    background-color: inherit;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width:5px;
    width:5%;
    margin: 0 47.5% 0 47.5%;
  }

.footer-link{
    color: #11999E;
    text-decoration: none;
    padding-left: 30px;
    font-family: 'Montserrat', sans-serif;
}
.cpyright{
    padding-top: 0.75rem;
    color: #EAF6F6;
    font-size: 10px;
}
a:hover{
    color: #EAF6F6;
}
